.productListItemBox {
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15vh;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #c7c7c7;
    transform: scale(1.1);
    transition: 0.1s ease-in;
  }
  .listItemImage {
    position: relative;
    width: 15vw;
    height: 15vw;
    .cartItemImg {
      width: 100%;
    }
  }
  .listItemDescription {
    text-align: center;

    h3,
    p {
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.1em;
      font-weight: 300;
    }
  }
}
@media all and (max-width: 823px) and (orientation: landscape) {
}

@media all and (max-width: 754px) and (orientation: landscape) {
}

@media all and (max-width: 754px) {
  .productListItemBox {
    width: 30vw;
    .listItemImage {
      width: 35vw;
      height: 35vw;
    }

    .listItemDescription {
      width: 100%;
      h3,
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 0.9em;
        letter-spacing: 0.1em;
        font-weight: 300;
      }
    }
  }
}
