.productBox {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin:0 0 10vh 0;
}

@media all and (max-width: 768px) {
  .productBox {
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
}
