.signInBox {
  border: #ffffff thin solid;
  width: 100%;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;

  .singIn {
    width: 100%;

    h3 {
      font-size: 1em;
      font-weight: 400;
      padding: 1vh 2vw;
    }
    .separationLineCheckoutGuest {
      width: 99.8%;
      border: thin solid #ffffff;
    }

    p {
      font-size: 0.8em;
      padding: 1vh 2vw;
    }

    .signInInput {
      width: 80%;
      height: 2vh;
      color: #fff;
      background-color: #000000;
      border: solid thin #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 0.2em;
      -webkit-appearance: none;
      border-radius: 0;
      margin-top: 2vh;
      margin-left: 10%;
      margin-bottom: 2vh;
      padding: 1.5vh 0vw 1.5vh 1vw;
    }
    .passSettingsBox {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      letter-spacing: 0;
      text-align: center;
      margin-left: 10%;
      font-size: 0.8em;
      color: #fff;
      margin-top: 2vh;

      .rememberMe {
        text-decoration: none;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        cursor: pointer;
        &:hover {
          color: #c7c7c7;
        }
        input {
          margin: 0 1vw;
          border: none;
          border-radius: 0;
          background-color: #fff;
        }
      }

      .forgotPasswordLink {
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #c7c7c7;
        }
      }
    }
    .btnSingIn {
      width: 90%;
      position: relative;
      display: flex;
      align-content: center;
      justify-content: center;
      background-color: #ffffff;
      color: #484848;
      font-size: 0.9em;
      padding: 3vh 0;
      letter-spacing: 0.1em;
      margin: 5vh 0vw 5vh 5%;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      a {
        color: #484848;
      }
      &:hover {
        background-color: #c7c7c7;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .signInBox {
    .singIn {
      .passSettingsBox {
        font-size: 1em;
      }
    }
  }
}

@media all and (max-width: 754px) {
  .signInBox {
    .singIn {
      .passSettingsBox {
        font-size: 0.5em;
      }
    }
  }
}
