.FaqBox {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
  margin-top: 15vh;
  text-align: left;
  h2 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  .Faq {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    .FaqSearchBox {
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .faqSearchBoxIcon {
        height: 3vh;
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: pointer;

        font-size: 1em;
      }
      span {
        width: 5vw;
        flex-grow: 1;
      }
      .searchFaq {
        width: 100%;
        height: 3vh;
        border: none;
        -webkit-appearance: none;
        border-radius: 0;
      }
      .searchFaq::placeholder {
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin: 0 5vw;
        padding-left: 1vw;
        color: #272727;
        border: none;
        padding-left: 1vh 0 1vw 0;
      }
    }

    .btnBackToTop {
      align-self: start;
    }
  }
}

@media all and (max-width: 768px) {
  .FaqBox {
    .Faq {
      width: 80%;
      .FaqSearchBox {
        width: 100%;

        .searchFaq {
          height: 7vh;
        }
      }
    }
  }
}
