.cartSlideBackground {
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 200vh;
  min-height: 115vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 100vw;
  display: flex;
  flex-direction: row;
  pointer-events: all;
  .cartCloseBackground {
    background-color: #000;
    flex-grow: 1;
    opacity: 0;
  }
  .cartSlide {
    position: relative;
    width: 30vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0 0 15vh 0;
    top: 0;
    right: 0;
    background-color: #000;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;

    .cartSlideBox {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 5vh;
    }

    .cartSlideTitle {
      position: relative;
      font-size: 1.5em;
      color: #fff;
      font-weight: 400;
      top: 0;
      margin-top: 0;
    }
  }


}

@media all and (max-width: 768px) and (orientation: portrait) {
  .cartSlideBackground {
    .cartSlide {
      position: absolute;
      width: 60vw;
    }
  }
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .cartSlideBackground {
    .cartSlide {
      position: absolute;
      width: 60vw;
    }
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  .cartSlideBackground {
    .cartSlide {
      position: absolute;
      width: 100vw;

      .cartSlideBox {
        margin-top: 15vh;
      }
    }
  }
}

@media all and (max-width: 754px) and (orientation: landscape) {
  .cartSlideBackground {
    .cartSlide {
      position: absolute;
      width: 100vw;

      .cartSlideBox {
        margin-top: 15vh;
      }
    }
  }
}
@media all and (max-width: 754px) {
  .cartSlideBackground {
    .cartSlide {
      position: absolute;
      width: 100vw;
    }
  }
}
