.cartItemBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;

  .column1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cartItemImgBox {
      width: 130px;
      height: 130px;
      cursor: pointer;
      .cartItemImg {
        position: relative;
        width: 100%;
      }
    }
    .btnAddItemWishList {
      background-color: transparent;
      border: none;
      color: #fff;
      margin-top: 25px;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        transition: 0.1s ease-in;
      }
    }
  }
  .column2 {
    width: 50%;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    .btnRemoveItem {
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: transparent;
      color: #fff;
      border: none;
      top: 2%;
      left: 88%;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        transition: 0.1s ease-in;
      }
    }
    .cartItemTitle {
      color: #fff;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      text-align: left;
    }
    .cartItemDescription {
      width: 100%;
      color: #fff;
      font-size: 0.7em;
      align-items: flex-start;
      justify-content: flex-start;
      line-height: 0.2em;
      .itemNumber,
      .itemColor,
      .itemSize,
      .itemTotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        line-height: 0.3em;
        
      }
    }
  }
}
