.privacyPolicyBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: thin solid violet;
  background-color: #000000;

  .privacyPolicy {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: thin solid violet;

    font-family: "Open Sans", sans-serif;    
   
    letter-spacing: 0.1em;
    h3 { font-weight: 300;
        font-size: 1.3em;
    }
    h4 { font-weight: 300;
        font-size: 1em;
    }
    p { font-weight: 300;
        font-size: 0.8em;
    }
  }
}
