.btnSingIn {
  width: 90%;
  background-color: #ffffff;
  color: #484848;
  font-size: 0.9em;
  padding: 3vh 0;
  letter-spacing: 0.1em;
  margin: 5vh 0vw 5vh 5%;
  text-decoration: none;
  text-align: center;
  a {
    color: #484848;
    text-decoration: none;
  }
  &:hover {
    background-color: #c7c7c7;
  }
  
}
