.searchStoresBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .searchStoreInput {
    width: 19vw;
    border: none;
    padding: 1vh 5%;
    font-size: 0.8em;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 2vh 2.5vw;
  }
  .btnSearchStores,
  .btnListStores,
  .btnMapStores {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .storePageBox {
    .searchStoresBox {
      width: 100%;
      .searchStoreInput {
        width: 18vw;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .searchStoresBox {
    .searchStoreInput {
      width: 45vw;
      padding: 1.5vh 5%;
    }
  }
}
