.storeItemBox {
  width: 100%;
  color: #ffffff;

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }
  &:hover{          
    color: #c7c7c7;
    transform: scale(1.2);
    transition: 0.1s ease-in;
    }
}
