.btnPromoCodeBox {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  .btnPromoCode {
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .btnPromoCode:hover {
    color: #c7c7c7;
  }
  .promoCodeBox {    
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .promoCode {
      width: 100%;
      height: auto;
      display: flex;
      padding: 1vh 0 1vh 1vw;
      color: #212121;
      font-size: 0.7em;
      -webkit-appearance: none;
      border-radius: 0;
      border: none;
      margin-top: -5vh;
    }
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  .btnPromoCodeBox {
    .promoCode {
      padding: 3vh 0 3vh 1vw;
    }
  }
}
