.paymentConfirmationBox {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .paymentConfirmation {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5vh 0;
    h3,
    h4,
    p {
      font-size: 1.3em;
      font-weight: 400;
      letter-spacing: 0.2em;
    }

    p {
      width: 80%;
      font-size: 1em;
    }
  }
}

@media all and (max-width: 768px) {
  .paymentConfirmationBox {
    .paymentConfirmation {
      p {
        width: 100%;
        font-size: 0.8em;
      }
    }
  }
}
