.backgroundImg {
  width: 100%;
  height: 160vh;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;

  img {
    width: 40vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .backgroundImg {
    height: 110vh;
  }
}


@media all and (max-width: 1024px) and (orientation: portrait) {
  .backgroundImg {
    width: 100%;
    height: 200vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 170vw;
    }
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .backgroundImg {
    width: 100%;
    height: 240vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 170vw;
    }
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  .backgroundImg {
    width: 100vw;
    height: 310vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 80vw;
    }
  }
}

@media all and (max-width: 414px) {
  .backgroundImg {
    width: 100%;
    height: 200vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 170vw;
    }
  }
}
