.gridProductListBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;

  .gridListBox {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .grisList {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a {
          height: 50vh;
          text-decoration: none;
          color: #ffffff;
          &:hover {
            color: #c7c7c7;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .gridProductListBox {
    margin-top: 0;

    .gridListBox {
      .grisList {
        li {
          width: 50%;
          a {
            height: 50vh;
          }
        }
      }
    }
  }
}
@media all and (max-width: 414px) {
  .gridProductListBox {
    margin-top: 0;
    .gridListBox {
      .grisList {
        height: auto;
        li {
          width: 50%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          a {
            height: 55vh;
          }
        }
      }
    }
  }
}
@media all and (max-width: 823px) and (orientation:landscape) { 
  .gridProductListBox {
    margin-top: 0;

    .gridListBox {
      .grisList {
        li {
          width: 50%;
          a {
            height: 90vh;
          }
        }
      }
    }
  }
}