.gridContainerHeaderBox {
  width: 100%;
  border: yellow thin solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.1em;

  .gridTitle {
    border: lightgreen solid thin;
    position: relative;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: 0.2em;
    }
  }
  .gridFilter {
    color: #ffffff;
    width: 15%;
    background-color: transparent;
    border: none;
    cursor: pointer;
   
  }
  .gridSort {
    color: #ffffff;
    width: 15%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media all and (max-width: 754px) {
  .gridContainerHeaderBox {
    .gridFilter {
      width: 25%;
    }
    .gridSort {
      width: 25%;
    }
  }
}
