.billingSummaryBox {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 300;
  
  h3 {
    font-size: 1.3em;
  }

  h3,
  p {
    letter-spacing: 0.1em;
    font-weight: 300;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    line-height: 1.8em;
  }

  p:last-child {
    font-size: 0.7em;
    letter-spacing: 0.1em;
  }

  hr {
    border: thin solid #ffffff;
    width: 98%;
  }
}
