.suscribeBox {
  width: 48vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1em;

  .suscribeInnerBox {
    width: 28vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: right;
    margin-right: 6vw;

    .suscribeTitle {
      margin: 0;
    }
    .suscribeinfoText {
      font-size: 0.7em;
      font-weight: 300;
    }
    .suscribeInput {
      width: 90%;
      height: 6vh;
      padding: 0 5%;
      margin: 1vh 0;
      color: #212121;
      font-size: 0.7em;
      border: none;
      -webkit-appearance: none;
      border-radius: 0;
    }

    .btnSuscribe {
      border: none;
      width: 100%;
      height: 6vh;
      padding: 2vh 0;
      letter-spacing: 0.1em;
      margin: 1vh 0;
      color: #ffffff;
      background-color: #484848;
      font-size: 1em;
      letter-spacing: 0.1em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      &:hover {
        background-color: #212121;
        color: #ffffff;
      }
    }
  }
}

@media all and  (max-width: 1200px) {
  .suscribeBox {
    .suscribeInnerBox {
      .suscribeInput {
        padding: 1vh 5%;
      }
    }
  }
}
@media all and (max-width: 1024px) and (orientation: landscape) {
  .suscribeBox {
    width: 50vw;
    .suscribeInnerBox {
      width: 36vw;
      height: 36vh;
      margin-right: 6vw;
      .suscribeInput {
        padding: 1vh 5%;
        font-size: 0.8em;
      }
      .btnSuscribe {
        height: 6vh;
        padding: 2vh 0 2.5vh 0;
        width: 100%;
        margin: 1vh 0;
        font-size: 0.8em;
      }
    }
  }
}

@media all and (max-width: 768px) and (orientation: portrait) {
  .suscribeBox {
    width: 60vw;
    .suscribeInnerBox {
      width: 36vw;
      height: 36vh;
      margin-right: 6vw;
      .suscribeInput {
        padding: 1vh 5%;
        font-size: 0.8em;
      }
      .btnSuscribe {
        height: 6vh;
        width: 100%;
        font-size: 0.8em;
        margin: 1vh 0;

        padding: 2vh 0 2.5vh 0;
      }
    }
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  .suscribeBox {
    .suscribeInnerBox {
      .suscribeInput {
        padding: 2vh 0vw 2vh 1vw;
        font-size: 0.8em;
      }
      .btnSuscribe {
        width: 100%;
        font-size: 0.8em;
        height: 6vh;
        padding: 2vh 0 5.5vh 0;
        margin: 1vh 0;
      }
    }
  }
}
@media all and (max-width: 754px) {
  .suscribeBox {
    order: -2;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .suscribeInnerBox {
      width: 80vw;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      text-align: right;
      margin-right: 0vw;
      .suscribeinfoText {
        font-size: 0.7em;
      }
      .suscribeInput {
        padding: 2% 5%;
        font-size: 0.6em;
      }
      .btnSuscribe {
        height: 6vh;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        padding: 2.5vh 0 5vh 0;
        margin: 1vh 0;
      }
    }
  }
}
