.forgotPasswordSlideBackground {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0 0 0;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.1em;
  z-index: 12;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  pointer-events: all;
  .forgotPassCloseBackground {
    background-color: #000;
    flex-grow: 1;
    opacity: 0.8;
  }
  .forgotPasswordSlideBox {
    z-index: 13;
    position: relative;
    width: 50vw;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;

    .btnCloseCartSlide {
      z-index: 14;
      width: 3vw;
      height: 3vw;
      position: absolute;
      background-color: transparent;
      border: none;
      color: #fff;
      top: 5vh;
      left: 45vw;
      cursor: pointer;
      &:hover {
        color: #c7c7c7;
      }
    }
    .forgotPasswordSlide {
      position: relative;
      width: 55%;
      margin: 15vh 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      opacity: 0;
      h2 {
        font-weight: 300;
        font-size: 1.3em;
      }
      p {
        font-weight: 300;
        font-size: 0.8em;
      }
    }
    .forgotPasswordSlideEmail {
      width: 96%;
      height: 2vh;
      background-color: #000;
      border: solid thin #ffffff;
      color: #ffffff;
      -webkit-appearance: none;
      border-radius: 0;
      margin-top: 2.5vh;
      margin-bottom: 2.5vh;
      padding: 1.5vh 0vw 1.5vh 1vw;
    }
    .forgotPasswordSlideEmail::placeholder {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 0.2em;
      color: #fff;
    }
    .btnSubtmitMail {
      width: 100%;
      background-color: #ffffff;
      border: none;
      color: #000;
      font-size: 1em;
      padding: 2vh 0;
      letter-spacing: 0.2em;
      -webkit-appearance: none;
      border-radius: 0;
      margin-top: 2.5vh;
    }
    .btnSubtmitMail:hover {
      background-color: #c7c7c7;
    }
  }
}

@media all and (max-width: 1024px) {
  .forgotPasswordSlideBackground {
    .forgotPasswordSlideBox {
      width: 60vw;
      .BtnCloseNav {
        left: 52.5vw;
      }
      .forgotPasswordSlide {
        width: 70%;
      }
    }
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .forgotPasswordSlideBackground {
    .forgotPasswordSlideBox {
      width: 60vw;

      .BtnCloseNav {
        left: 52.5vw;
      }
    }
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  .forgotPasswordSlideBackground {
    .forgotPasswordSlideBox {
      z-index: 14;
      position: absolute;
      width: 100vw;
    }
  }
}

@media all and (max-width: 754px) {
  .forgotPasswordSlideBackground {
    .forgotPasswordSlideBox {
      width: 100vw;
      height: auto;

      .BtnCloseNav {
        top: 1vh;
        left: 87.5vw;
      }

      .singInCreateAccountBox {
        margin-top: 2.5vh;
      }
    }
  }
}
