.dropDownBox {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  label {
    margin-right: 2vw;
  }

  .colorIcon {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: #333333;
  }

  .dropdown {
    width: 100% !important;
  }
  .colorDropdown {
    width: 100% !important;
  }
  .dropdown,
  .colorDropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-left: 0%;
    padding: 1vh 0;
    background-color: transparent;
    border: transparent;
    color: white;
    border-radius: none;
    &:focus {
      border: transparent;
    }

    option {
      color: #fff;
      border: none;
      background-color: #000;
      padding: 2px;
      border-bottom: 0;
      &:hover {
        background-color: #fff;
        color: #000;
      }
      &:focus {
        border: transparent;
      }
      &::after {
        background-color: #fff;
        color: #000;
        &:focus {
          border: transparent;
        }
      }
    }
  }
}
