.footerMenuBox {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 4em;
  color: #fff;
  font-family: "Open Sans", sans-serif;

  .footerMenuInnerBox {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .logoFooter {
      width: 2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 6vw;
      margin-bottom: 2vh;
      cursor: pointer;
      .logo {
        width: 1.5vw;
      }
      a {
        cursor: pointer;
      }
    }

    .footerMenu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 6vw;
      letter-spacing: 0.1em;
    }

    .footerMenu li {
      margin: 0;
      padding: 0;

      a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: #c7c7c7;
        }
      }
    }
  }
}

@media all and (max-width: 1366px) and (orientation: landscape) {
  .footerMenuBox {
    width: 50vw;

    .footerMenuInnerBox {
      width: 50vw;

      .footerMenu li {
        a {
          font-size: 0.8em;
        }
      }
    }
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .footerMenuBox {
    .footerMenuInnerBox {
      .footerMenu li {
        width: 30vw;
        a {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  .footerMenuBox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

    .footerMenuInnerBox {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logoFooter {
        margin-left: 0;
      }
      .footerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0vw;
      }
    }
  }
}
@media all and (max-width: 414px) {
  .footerMenuBox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

    .footerMenuInnerBox {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .logoFooter {
        width: 5vw;
        margin-left: 0;
        .logo {
          width: 4vw;
        }
      }
      .footerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0vw;
        li {
          width: 100vw;
        }
      }
    }
  }
}
