/* EL ORDERN DE CADA ELEMENTO ESTA CAMBIADO PARA QUE SE ADAPTE AL LAYOUT */

.productDetailsBox {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1em;

  .productDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;

    .titleProductDetails {
      order: 0;
      width: 100%;
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: 0.2em;
      flex-grow: 1;
    }

    .priceProductDetails {
      order: 1;
      width: 50%;
      font-size: 1.2em;
      font-weight: 300;
      letter-spacing: 0.2em;
      margin: 0;
    }

    /*TO DO hacer que quede pegado al pie mientras scroll en product box*/
    .btnAddToBag {
      width: 50%;
      position: relative;
      align-self: end;
      order: 3;
      padding: 2vh 0;
      margin-top: 2vh;
      margin-left: 0.6vw;
    }

    .dropdownsContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      height: auto;
      margin-top: 2vh;
      order: 2;
      margin-left: 0%;

      .dropdownBoxCartSize {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-top: 2vh;
        margin-left: 0%;
        padding: 1vh 0;
      }
    }

    .btnFreeShipping {
      width: auto;
      position: absolute;
      top: 60vh;
      left: 72.5vw;
      background-color: transparent;
      border: none;
      text-decoration: none;
      -webkit-appearance: none;
      border-radius: 0;
      color: #ffffff;
      letter-spacing: 0.1em;
      font-size: 0.8em;
      font-weight: 300;
      &:hover {
        color: #c7c7c7;
      }
    }
    .descriptionProductDetail,
    .featuresProductDetail,
    .sizeProductDetail {
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.1em;
      font-size: 1em;
      font-weight: 300;
      text-align: left;
      h4 {
        font-size: 1em;
        letter-spacing: 0.2em;
        font-weight: 300;
      }
      p {
        font-size: 0.7em;
        letter-spacing: 0.2em;
      }
    }
    .sizeProductDetail {
      order: 2;
      width: 48%;
      text-align: left;
      margin-top: 0vh;

      .btnSizeGuide {
        border: none;
        text-decoration: underline;
        background-color: transparent;
        color: #ffffff;
        align-self: start;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        font-weight: 300;
        margin: 0;
        -webkit-appearance: none;
        border-radius: 0;
        &:hover {
          color: #c7c7c7;
        }
      }
    }
    .descriptionProductDetail {
      order: 6;
      width: 45%;
      margin-top: 2vh;
      margin-right: 2vw;
    }
    .featuresProductDetail {
      order: 7;
      width: 45%;
    }
  }
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .productDetailsBox {
    .productDetails {
      .btnFreeShipping {
        top: 55vh;
        left: 74vw;
      }
      
      .dropdownsContainer {
        width: 50%;
        .dropdownBox {
          &:hover {
            .dropdownContentSize {
              top: 5vh;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) and (orientation: landscape) {
  .productDetailsBox {
    .productDetails {
     
      .dropdownBox {
        &:hover {
          .dropdownContentSize {
            left: 27.5vw;
            top: 5vh;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .productDetailsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .productDetails {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      
      .btnFreeShipping {
        position: relative;
        top: 0vh;
        left: 0;
        margin-top: 5vh;
        order: 5;
      }
      .titleProductDetails {
        width: 80%;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.2em;
      }
      .btnAddToBag {
        width: 100%;
        position: fixed;
        bottom: 0;        
        margin: 0;
        z-index: 0;
      }

      .dropdownsContainer {
        .dropdownBox {
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: space-evenly;
          width: 100%;
          height: auto;
          margin-top: 10vh;
          .dropdownContentSize {
            top: 40px;
            li {
              width: 100%;
              &:hover {
                background-color: #000000;
                width: 100%;
                color: #fff;
              }
            }
          }
          &:hover {
            .dropdownContentSize {
              display: flex;
              flex-direction: column;
              margin-left: 5vw;
              margin: 0;
              padding: 0;
              left: 0vw;
              top: 7.9vh;
            }
            .dropbtn p {
              transition: all 0.2s ease-in-out;
              transform: scale(1.1);
            }
          }
        }
      }
      .descriptionProductDetail,
      .featuresProductDetail,
      .sizeProductDetail {
        width: 80%;
        margin-top: 5vh;
        margin-right: 0;
      }
    }
  }
}

@media all and (max-width: 414px) {
  .productDetailsBox {
    margin-bottom: 0;
    .productDetails {
      margin-bottom: 0;
      .btnAddToBag {
        width: 100%;
        position: fixed;
        bottom: 0;
        margin: 0;
      }
      .dropdownsContainer {
        .dropdownBox {
          &:hover {
            .dropdownContentSize {
              top: 7vh;
            }
          }
        }
      }
    }
  }
}
