.createAccountBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  .createAccountTransition {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 100%;
  }
  .createAccountInput {
    width: 99.3%;
    margin-bottom: 2.5vh;
    padding: 2vh 0vh 2vh 0.5%;
    border: thin solid #ffffff;
    background-color: transparent;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
  }

  .createAccountInput::placeholder {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    letter-spacing: 0.1em;
    padding: 0 0 0 2vw;
    font-size: 0.7em;
  }
  .smallInput {
    width: 45%;
    display: inline;
    padding: 2vh 0vh 2vh 0%;
  }
  p {
    margin-top: 0;
    color: #fff;
  }

  .nameAndLastNameCreateAccount,
  .birthDataCreateAccount {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .emailMarketing,
  .termsAndConditions {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-align: left;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    &:hover {
      color: #c7c7c7;
    }
  }
  .btnCreateAccount {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: #484848;
    background-color: #fff;
    border: none;
    margin: 2.5vh 0;
    padding: 2vh 0;
    cursor: pointer;
    &:hover {
      background-color: #c7c7c7;
    }
  }

  .singInWithFaceOrGoogle {
    font-size: 0.7em;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }

  .singInWithFaceOrGoogle a {
    margin: 0 1vw;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: #c7c7c7;
    }
  }
}

@media all and (max-width: 414px) {
  .createAccountBox {
    .createAccountInput {
      padding: 1.5vh 0vh 1.5vh 0.5%;

      .emailMarketing,
      .termsAndConditions {
        input[type="checkbox"] {
          -webkit-appearance: none;
          border-radius: 0;
        }
      }
    }
  }
}
