.sectionTransitionBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;

  .sectionTransition {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 100%;
    position: absolute;
    top: 15vh;
    left: 0;
    pointer-events: none;
  }
}
