.dropdownBoxCartQuantity {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 20px;
  // z-index: 4;
  .dropbtnQuantity {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    line-height: 0.2em;
    cursor: pointer;
    // z-index: 5;
  }
  .dropdownContentSizeQuatity {
    display: none;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 25px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000;
    li {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      left: 0;
      &:hover {
        background-color: #000000;
        color: #fff;
      }
      button {
        width: 100%;
        background-color: transparent;
        border: none;
        color: #000000;
        text-align: left;
        padding: 10% 0% 10% 5%;
        &:hover {
          background-color: #000000;
          color: #fff;
        }
      }
    }
  }
}
